@font-face {
  font-family: 'Georgia', sans-serif;
  src: url('../fonts/Georgia.woff2'),
  url('../fonts/Georgia.woff');
  font-display: swap; 
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url('../fonts/ArialMT.woff2'),
    url('../fonts/ArialMT.woff');
  font-display: swap;
}

// --------------------------

*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.wrapper{
  background-color: #F6F6F6;
}

._container{
  max-width: 128rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

.header{
  background: url('../img/bg-01.jpg') 0 0 no-repeat;
  background-position: center;
  background-size: cover;
}

.header-logo{
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  & span {
    font-family: 'Georgia', sans-serif;
    display: block;
    color: #F1CDB3;
    font-size: 3.2rem;
    line-height: 110%;
    margin-bottom: 1rem;
  }
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}

.menu{
  &-list {
    display: flex;
    &__item {
      border-bottom: .3rem solid transparent;
      transition: all .2s;
    }
    &__item:not(:last-child) {
      margin-right: 3.5rem;
    }
    &__item:active {
      border-bottom: .3rem solid #F1CDB3;
    }
    &__link {
      color: #FAFAFA;
      line-height: 160%;
    }
  }
}

.Notonly{
  &-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-content{
    max-width: 46rem;
    padding-top: 16.3rem;
  }
  &-title{
    font-family: 'Georgia', sans-serif;
    max-width: 39rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 4.2rem;
    font-size: 4.4rem;
  }
  &-text{
    color: #CDCDCD;
    line-height: 160%;
    margin-bottom: 4.2rem;
  }
  &-btn{
    display: inline-block;
    background-color: #F1CDB3;
    padding: 1.5rem 4.5rem;
    border-radius: 10rem;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 130%;
    color: #292929;
  }
  &-img{
    padding-top: 10rem;
  }
}

.main{
  background-color: #fff;
}

.About{
  &-inner{
    display: flex;
    padding: 8rem 0rem 10rem 0rem;
    justify-content: space-evenly;
    &__content{
      max-width: 43rem;
    }
    &__title{
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      max-width: 35rem;
      font-size: 3.5rem;
      line-height: 130%;
      color: #545454;
      margin-bottom: 2.5rem;
    }
    &__text{
      color: #4C4C4C;
      line-height: 160%;
      margin-bottom: 2.5rem;
    }
  }
}




