@font-face {
  font-family: 'Georgia', sans-serif;
  src: url("../fonts/Georgia.woff2"), url("../fonts/Georgia.woff");
  font-display: swap;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url("../fonts/ArialMT.woff2"), url("../fonts/ArialMT.woff");
  font-display: swap;
}

/* line 19, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
:root {
  scroll-behavior: smooth;
}

/* line 23, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
html {
  font-size: 62.5%;
}

@media (max-width: 1260px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 60.25%;
  }
}

@media (max-width: 992px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 50%;
  }
}

@media (max-width: 600px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 30%;
  }
}

@media (min-width: 1800px) {
  /* line 29, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  html {
    font-size: 75%;
  }
}

/* line 51, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
body {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 57, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.wrapper {
  background-color: #F6F6F6;
}

/* line 61, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
._container {
  max-width: 128rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

/* line 67, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header {
  background: url("../img/bg-01.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 73, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-logo {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

/* line 78, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-logo span {
  font-family: 'Georgia', sans-serif;
  display: block;
  color: #F1CDB3;
  font-size: 3.2rem;
  line-height: 110%;
  margin-bottom: 1rem;
}

/* line 88, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}

/* line 96, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list {
  display: flex;
}

/* line 98, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item {
  border-bottom: .3rem solid transparent;
  transition: all .3s;
  position: relative;
}

/* line 103, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item:not(:last-child) {
  margin-right: 3.5rem;
}

/* line 106, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item:hover {
  border-bottom: .3rem solid #F1CDB3;
}

/* line 109, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__link {
  color: #CDCDCD;
  line-height: 160%;
}

/* line 113, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__link:hover {
  color: #fff;
}

/* line 117, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__itemactive {
  border-bottom: .3rem solid #F1CDB3;
}

/* line 124, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  /* line 124, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Notonly-inner {
    display: block;
    width: 100%;
  }
}

/* line 133, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-content {
  max-width: 46rem;
  padding-top: 16.3rem;
}

@media (max-width: 768px) {
  /* line 133, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Notonly-content {
    margin: 0 auto;
    padding-top: 6rem;
  }
}

/* line 141, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-title {
  font-family: 'Georgia', sans-serif;
  max-width: 39rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 4.2rem;
  font-size: 4.4rem;
}

/* line 149, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-text {
  color: #CDCDCD;
  line-height: 160%;
  margin-bottom: 4.2rem;
}

/* line 154, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn {
  display: block;
  max-width: 20.7rem;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

@media (max-width: 768px) {
  /* line 154, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Notonly-btn {
    margin: 0 auto;
  }
}

/* line 172, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn:hover {
  transform: translateY(-0.3rem);
  background-color: #FDDCC4;
  box-shadow: 0rem 0.4rem 0.4rem black;
}

/* line 177, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 182, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-img {
  padding-top: 10rem;
  max-width: 100%;
  display: block;
}

@media (max-width: 1260px) {
  /* line 182, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Notonly-img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  /* line 182, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Notonly-img {
    margin: 0rem 0rem 0rem 20rem;
    max-width: 70%;
  }
}

/* line 196, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.main {
  background-color: #fff;
}

/* line 201, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner {
  display: flex;
  padding: 8rem 0rem 10rem 0rem;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  /* line 201, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .About-inner {
    flex-direction: column;
  }
}

/* line 208, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__content {
  max-width: 43rem;
}

@media (max-width: 768px) {
  /* line 208, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .About-inner__content {
    margin: 0 auto;
    margin-bottom: 8rem;
  }
}

/* line 216, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  max-width: 35rem;
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  margin-bottom: 2.5rem;
}

/* line 225, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__text {
  color: #4C4C4C;
  line-height: 160%;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  /* line 230, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .About-inner__img {
    order: 1;
    max-width: 30%;
    margin: 0 auto;
  }
}

/* line 240, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends {
  padding: 8rem 0rem 10rem 0rem;
  background-color: #F6F6F6;
}

/* line 243, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-container {
  position: relative;
}

/* line 246, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 40rem;
  color: #545454;
}

/* line 260, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button {
  display: block;
  max-width: 26.1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  color: #292929;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

/* line 277, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button:hover {
  transform: translateY(-0.3rem);
  background-color: #FDDCC4;
  box-shadow: 0rem 0.4rem 0.4rem black;
}

/* line 282, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 288, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-inner {
  display: flex;
  width: 100rem;
  justify-content: space-around;
  margin-bottom: 6rem;
}

@media (max-width: 992px) {
  /* line 288, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .OurFriends-inner {
    justify-content: space-evenly;
  }
}

/* line 299, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 305, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__left {
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s;
}

/* line 314, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__left:hover {
  background-color: #F1CDB3;
}

/* line 318, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__left-After {
  background: url("../img/Arrow-left.svg") 0 0 no-repeat;
  background-position: center;
}

/* line 323, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__right {
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s;
}

/* line 332, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__right:hover {
  background-color: #F1CDB3;
}

/* line 336, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__left-Before {
  background: url("../img/Arrow-right.svg") 0 0 no-repeat;
  background-position: center;
}

/* line 342, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__item {
  width: 27rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FAFAFA;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem;
}

/* line 353, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__item:hover {
  background-color: #fff;
}

@media (max-width: 992px) {
  /* line 342, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .OurFriends-card__item {
    max-width: 40rem;
  }
}

@media (max-width: 992px) {
  /* line 362, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .OurFriends-card__itemwoody {
    display: none;
  }
}

/* line 368, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__title {
  font-size: 2rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 3rem;
}

/* line 377, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  transition: all .2s;
  letter-spacing: 0.06em;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  /* line 377, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .OurFriends-card__btn {
    margin-bottom: 3rem;
  }
}

@media (max-width: 992px) {
  /* line 377, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .OurFriends-card__btn {
    font-size: 1.7rem;
  }
}

/* line 395, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn:focus {
  outline: none;
}

/* line 399, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

/* line 405, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help {
  padding: 8rem 0rem 10rem 0rem;
}

/* line 408, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-title {
  max-width: 31rem;
  display: block;
  margin: 0 auto;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 6rem;
  color: #545454;
  letter-spacing: 0.06em;
  line-height: 130%;
}

/* line 422, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5.5rem;
  grid-column-gap: 13rem;
  grid-row-gap: 5rem;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

@media (max-width: 900px) {
  /* line 422, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Help-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

/* line 439, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__item {
  max-width: 20rem;
}

/* line 443, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__img {
  margin-bottom: 2.5rem;
}

/* line 447, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__text {
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}

/* line 457, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition {
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem 0rem;
}

@media (max-width: 992px) {
  /* line 457, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Inaddition {
    padding: 5rem 0rem 7rem 0rem;
  }
}

/* line 464, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-inner {
  max-width: 91.5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 992px) {
  /* line 464, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Inaddition-inner {
    flex-direction: column;
  }
}

/* line 475, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-content {
  margin-left: 3rem;
  max-width: 38rem;
}

@media (max-width: 992px) {
  /* line 475, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .Inaddition-content {
    order: -1;
    margin-bottom: 6rem;
  }
}

/* line 485, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  color: #545454;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  max-width: 30rem;
  line-height: 130%;
}

/* line 496, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-subtitle {
  font-family: 'Georgia', sans-serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2rem;
}

/* line 504, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-item {
  margin-left: 2rem;
  color: #545454;
}

/* line 508, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-item__row {
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #F1CDB3;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: 'Georgia', sans-serif;
  color: #545454;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  border-radius: .9rem;
}

/* line 522, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
  font-style: italic;
  margin-bottom: 2rem;
}

/* line 531, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer {
  background: url("../img/footer-bg02.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0rem 0rem 0rem;
}

/* line 537, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  /* line 537, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* line 547, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  /* line 547, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item {
    max-width: 40rem;
    margin-bottom: 6.5rem;
  }
}

/* line 557, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  /* line 557, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item__title {
    margin-bottom: 3.5rem;
  }
}

/* line 571, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__email {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 6rem;
  position: relative;
}

/* line 585, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__email::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3.2rem;
  background: url("../img/icon-email.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  /* line 585, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item__email::after {
    width: 5rem;
    height: 4rem;
  }
}

/* line 602, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__tel {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 6rem;
  margin-top: 2.7rem;
  position: relative;
}

/* line 613, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__tel::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3.2rem;
  background: url("../img/icon-phone.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  /* line 613, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item__tel::after {
    width: 5rem;
    height: 4rem;
  }
}

/* line 629, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__titleBottom {
  margin-bottom: 1.7rem;
}

/* line 632, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__city {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 1.7rem;
  margin-top: 1.7rem;
  padding-left: 4.2rem;
  position: relative;
}

/* line 644, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__city::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 3.2rem;
  background: url("../img/icon-marker.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  /* line 644, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item__city::after {
    width: 3rem;
    height: 4rem;
  }
}

/* line 661, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__street {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 1.7rem;
  padding-left: 4.2rem;
  position: relative;
}

/* line 672, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__street::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 3.2rem;
  background: url("../img/icon-marker.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  /* line 672, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
  .footer-item__street::after {
    width: 3rem;
    height: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */