@font-face {
  font-family: 'Georgia', sans-serif;
  src: url("../fonts/Georgia.woff2"), url("../fonts/Georgia.woff");
  font-display: swap;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url("../fonts/ArialMT.woff2"), url("../fonts/ArialMT.woff");
  font-display: swap;
}

/* line 17, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
:root {
  scroll-behavior: smooth;
}

/* line 21, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* line 27, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 31, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
body {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 37, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.wrapper {
  background-color: #F6F6F6;
}

/* line 41, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
._container {
  max-width: 128rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

/* line 47, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header {
  background: url("../img/bg-01.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 53, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-logo {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

/* line 58, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-logo span {
  font-family: 'Georgia', sans-serif;
  display: block;
  color: #F1CDB3;
  font-size: 3.2rem;
  line-height: 110%;
  margin-bottom: 1rem;
}

/* line 68, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
}

/* line 76, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list {
  display: flex;
}

/* line 78, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item {
  border-bottom: .3rem solid transparent;
  transition: all .3s;
  position: relative;
}

/* line 83, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item:not(:last-child) {
  margin-right: 3.5rem;
}

/* line 86, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__item:hover {
  border-bottom: .3rem solid #F1CDB3;
}

/* line 89, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__link {
  color: #CDCDCD;
  line-height: 160%;
}

/* line 93, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__link:hover {
  color: #fff;
}

/* line 97, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.menu-list__itemactive {
  border-bottom: .3rem solid #F1CDB3;
}

/* line 104, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 109, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-content {
  max-width: 46rem;
  padding-top: 16.3rem;
}

/* line 113, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-title {
  font-family: 'Georgia', sans-serif;
  max-width: 39rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 4.2rem;
  font-size: 4.4rem;
}

/* line 121, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-text {
  color: #CDCDCD;
  line-height: 160%;
  margin-bottom: 4.2rem;
}

/* line 126, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn {
  display: inline-block;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

/* line 140, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn:hover {
  transform: translateY(-0.3rem);
  background-color: #FDDCC4;
  box-shadow: 0rem 0.4rem 0.4rem black;
}

/* line 145, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 150, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Notonly-img {
  padding-top: 10rem;
}

/* line 155, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.main {
  background-color: #fff;
}

/* line 160, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner {
  display: flex;
  padding: 8rem 0rem 10rem 0rem;
  justify-content: space-evenly;
}

/* line 164, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__content {
  max-width: 43rem;
}

/* line 167, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  max-width: 35rem;
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  margin-bottom: 2.5rem;
}

/* line 176, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.About-inner__text {
  color: #4C4C4C;
  line-height: 160%;
  margin-bottom: 2.5rem;
}

/* line 184, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends {
  padding: 8rem 0rem 10rem 0rem;
  background-color: #F6F6F6;
}

/* line 187, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-container {
  position: relative;
}

/* line 190, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 40rem;
  color: #545454;
}

/* line 204, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button {
  display: block;
  max-width: 26.1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #F1CDB3;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  color: #292929;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

/* line 220, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button:hover {
  transform: translateY(-0.3rem);
  background-color: #FDDCC4;
  box-shadow: 0rem 0.4rem 0.4rem black;
}

/* line 225, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-button:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* line 231, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-inner {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
  position: relative;
}

/* line 239, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__left::after {
  content: '';
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 100%;
  border: 2px solid #F1CDB3;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/Arrow-left.svg") 0 0 no-repeat;
  width: 52px;
  height: 52px;
  background-position: center;
  cursor: pointer;
}

/* line 258, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends .OurFriends-btn__right::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 100%;
  border: 2px solid #F1CDB3;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  background: url("../img/Arrow-right.svg") 0 0 no-repeat;
  background-position: center;
  cursor: pointer;
}

/* line 276, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__item {
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  overflow: hidden;
  min-height: 43.5rem;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem;
}

/* line 288, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__item:hover {
  background-color: #fff;
}

/* line 292, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__title {
  font-size: 2rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 3rem;
}

/* line 301, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  transition: all .2s;
}

/* line 310, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn:focus {
  outline: none;
}

/* line 314, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.OurFriends-card__btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

/* line 320, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help {
  padding: 8rem 0rem 10rem 0rem;
}

/* line 323, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-title {
  max-width: 31rem;
  display: block;
  margin: 0 auto;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 6rem;
  color: #545454;
  letter-spacing: 0.06em;
  line-height: 130%;
}

/* line 337, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row {
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 102.6rem;
  margin-bottom: 5.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 346, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__item {
  max-width: 20rem;
}

/* line 350, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__img {
  margin-bottom: 3rem;
}

/* line 354, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row__text {
  font-size: 2rem;
  color: #545454;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 115%;
}

/* line 363, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Help-row2 {
  display: flex;
  max-width: 102.6rem;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* line 373, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition {
  background-color: #F6F6F6;
  padding: 8rem 0rem 10rem 0rem;
}

/* line 377, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-inner {
  max-width: 91.5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

/* line 384, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-content {
  margin-left: 3rem;
  max-width: 38rem;
}

/* line 389, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  color: #545454;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  letter-spacing: 0.06em;
  max-width: 30rem;
  line-height: 130%;
}

/* line 400, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-subtitle {
  font-family: 'Georgia', sans-serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2rem;
}

/* line 408, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-item {
  background-color: #F1CDB3;
  display: inline-block;
  max-width: 34.9rem;
  padding: 1rem 1.5rem 1rem 5rem;
  font-family: 'Georgia', sans-serif;
  color: #545454;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  border-radius: .9rem;
  position: relative;
}

/* line 421, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-item::after {
  content: "";
  position: absolute;
  background: url("../img/credit-card.svg") 0 0 no-repeat;
  width: 3rem;
  height: 2.3rem;
  left: 0;
  margin-left: 10px;
}

/* line 430, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.Inaddition-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
  font-style: italic;
  margin-bottom: 2rem;
}

/* line 439, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer {
  background: url("../img/footer-bg02.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0rem 0rem 0rem;
}

/* line 445, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-row {
  display: flex;
  justify-content: space-between;
}

/* line 450, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

/* line 455, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__title {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

/* line 465, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__email {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 6rem;
  position: relative;
}

/* line 477, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__email::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3.2rem;
  background: url("../img/icon-email.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 489, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__tel {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 6rem;
  margin-top: 2.7rem;
  position: relative;
}

/* line 500, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__tel::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3.2rem;
  background: url("../img/icon-phone.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 511, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__titleBottom {
  margin-bottom: 1.7rem;
}

/* line 514, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__city {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 1.7rem;
  margin-top: 1.7rem;
  padding-left: 4.2rem;
  position: relative;
}

/* line 526, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__city::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 3.2rem;
  background: url("../img/icon-marker.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 538, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__street {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 1.7rem;
  padding-left: 4.2rem;
  position: relative;
}

/* line 549, ../../../../rsschool-cv/shelter/pages/main/scss/style.scss */
.footer-item__street::after {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 3.2rem;
  background: url("../img/icon-marker.svg") 0 0 no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */