@import 'mixins.scss';

@font-face {
  font-family: 'Georgia', sans-serif;
  src: url('../fonts/Georgia.woff2'),
    url('../fonts/Georgia.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url('../fonts/ArialMT.woff2'),
    url('../fonts/ArialMT.woff');
  font-display: swap;
}
// --------------------------

:root {
  scroll-behavior: smooth;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  
    @include respond(tab-land) {
      font-size: 60.25%;
    }
  
    @include respond(tab-phone) {
      font-size: 60%;
    }
  
    @include respond(tab-port) {
      font-size: 55%;
    }
  
    @include respond(screen) {
      font-size: 50%;
    }
  
    @include respond(phone) {
      font-size: 50%;
    }
  
    @include respond(phonescreen) {
      font-size: 40%;
    }
  
    @include respond(big-screen) {
      font-size: 75%;
    }
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.wrapper {
  background-color: #F6F6F6;
}

._container {
  max-width: 128rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  &-logo {
    color: #292929;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;

    & span {
      font-family: 'Georgia', sans-serif;
      display: block;
      color: #545454;
      font-size: 3.2rem;
      line-height: 110%;
      margin-bottom: 1rem;
    }
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
  }
}
.burger-box {
  width: 3rem;
  height: 2.2rem;
  position: relative;
}

.burger-box {
  display: none;

  @include respond(phone) {
    display: block;
    cursor: pointer;
  }
}

.burger-box1 {
  position: absolute;
  border-top: 1px solid #292929;
  width: 3rem;
  height: .2rem;
  top: 0;
}

.burger-box2 {
  position: absolute;
  border-bottom: 1px solid #292929;
  width: 3rem;
  height: .2rem;
  top: 50%;
  transform: translateY(-50%);
}

.burger-box3 {
  position: absolute;
  border-bottom: 1px solid #292929;
  width: 3rem;
  height: .2rem;
  bottom: 0;

}
.menu {
  @include respond(phone) {
    display: none;
  }
  &-list {
    display: flex;

    &__item {
      border-bottom: .3rem solid transparent;
      transition: all .3s;
      position: relative;
    }

    &__item:not(:last-child) {
      margin-right: 3.5rem;
    }

    &__item:hover {
      border-bottom: .3rem solid #F1CDB3;
    }

    &__link {
      color: #545454;
      line-height: 160%;

      &:hover {
        color: #292929;
      }
    }

    &__itemactive {
      border-bottom: .3rem solid #F1CDB3;
    }
  }
}

.OurFriends {
  padding: 8rem 0rem 10rem 0rem;
  background-color: #F6F6F6;

  &-title {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 0.06em;
    line-height: 130%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 40rem;
    color: #545454;
  }

  &-button {
    display: block;
    margin: 0 auto;
    background-color: #F1CDB3;
    padding: 1.5rem 4.5rem;
    border-radius: 10rem;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    color: #292929;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: translateY(-.3rem);
      background-color: #FDDCC4;
      box-shadow: (0rem .4rem .4rem rgba(0, 0, 0, 1));
    }

    &:active {
      transform: translateY(.1rem);
      box-shadow: (0rem .4rem .4rem rgba(0, 0, 0, .3))
    }
  }

  &-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    justify-content: space-evenly;
    margin-bottom: 6rem;
    position: relative;
    @include respond(tab-phone) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(screen) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      grid-column-gap: 0rem;
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      grid-column-gap: 0rem;
    }
  }
}

.OurFriends-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  overflow: hidden;
  min-height: 43.5rem;
  cursor: pointer;
  transition: all .3s;
  border-radius: .9rem;
  @include respond(tab-land) {
      max-width: 26rem;
  }
  @include respond(tab-phone) {
      max-width: 26rem;
  }
  @include respond(screen) {
    max-width: 32rem;
  }

  &:hover {
    background-color: #fff;
  }
}
.OurFriends-card__itemScarlett {
  @include respond(tab-phone) {
     display: none;
  }
}
.OurFriends-card__itemFreddie {
  @include respond(tab-phone) {
     display: none;
  }
}
.OurFriends-card__itemSophia {
  @include respond(phone) {
      display: none;
    }
}
.OurFriends-card__itemTimmy {
  @include respond(phone) {
      display: none;
    }
}
.OurFriends-card__itemCharly {
  @include respond(phone) {
      display: none;
    }
}

.OurFriends-card__title {
  font-size: 2rem;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 3rem;
}

.OurFriends-card__btn {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  transition: all .2s;
  margin-bottom: 3rem;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
  }
}
.OurFriends-btn {
  display: flex;
  justify-content: space-between;
  max-width: 34rem;
  margin: 0 auto;
  &__button {
    display: inline-block;
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid #CDCDCD;
    border-radius: 100%;
    font-size: 2rem;
    background-color: transparent;
    font-family: 'Georgia', sans-serif;
    color: #CDCDCD;
  }
  &__buttonarrowright {
    border: 2px solid #F1CDB3;
    color: #292929;
    transition: all .2s;
    cursor: pointer;
    &:hover {
      background-color: #F1CDB3;
    }
  }
  &__buttonarrowright2 {
    border: 2px solid #F1CDB3;
    color: #292929;
    transition: all .2s;
    cursor: pointer;
    &:hover {
      background-color: #F1CDB3;
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    font-size: 2rem;
    background-color: #F1CDB3;
    font-family: 'Georgia', sans-serif;
  }
}

.footer{
  background: url("../img/footer-bg02.jpg") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0rem 0rem 0rem;

  &-img {
    display: block;
    @include respond(phone) {
      max-width: 50%;
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;

    @include respond(tab-phone) {
      flex-wrap: wrap;
      justify-content: center;
    } 
    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: center;  
    }
  }

  &-item {
    max-width: 30rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-phone) {
      max-width: 40rem;
      margin-bottom: 6.5rem;
    } 
    @include respond(phone) {
      max-width: 50rem;
      margin-bottom: 6.5rem;
    }

    &__title {
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      font-size: 3.5rem;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      margin-bottom: 2rem;

      @include respond(tab-phone) {
        margin-bottom: 3.5rem;
      }
      @include respond(phone) {
          margin-bottom: 3rem;
      }
    }

    &__email {
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      margin-bottom: 2rem;
      margin-top: 2rem;
      padding-left: 6rem;
      position: relative;

      @include respond(phone) {
          padding-left: 10rem;
          font-size: 3rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 3.2rem;
        background: url('../img/icon-email.svg') 0 0 no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include respond(tab-phone) {
          width: 5rem;
          height: 4rem;
        }
        @include respond(phone) {
          width: 10rem;
          height: 6rem;
        }
      }
    }

    &__tel {
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      padding-left: 6rem;
      margin-top: 2.7rem;
      position: relative;

      @include respond(phone) {
          padding-left: 10rem;
          font-size: 3rem;
        }

      &::after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 3.2rem;
        background: url('../img/icon-phone.svg') 0 0 no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include respond(tab-phone) {
          width: 5rem;
          height: 4rem;
        }
        @include respond(phone) {
          width: 10rem;
          height:7rem;
        }
      }
    }
    &__titleBottom{
      margin-bottom: 1.7rem;
      @include respond(phone) {
          margin-bottom: 1.7rem;
          max-width: 40rem;
        }
    }
    &__city {
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      margin-bottom: 1.7rem;
      margin-top: 1.7rem;
      padding-left: 4.2rem;
      position: relative;

      @include respond(phone) {
         font-size: 12px;
         padding-left: 30px;
         margin-bottom: 4rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2.2rem;
        height: 3.2rem;
        background: url('../img/icon-marker.svg') 0 0 no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include respond(tab-phone) {
          width: 3rem;
          height: 4rem;
          
        }
        @include respond(phone) {
          width: 5rem;
          height: 7rem;
          
        }
      }
    }

    &__street {
      font-family: 'Georgia', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      margin-top: 1.7rem;
      padding-left: 4.2rem;
      position: relative;

      @include respond(phone) {
         font-size: 12px;
         padding-left: 30px;
         
      }

      &::after {
        content: "";
        position: absolute;
        width: 2.2rem;
        height: 3.2rem;
        background: url('../img/icon-marker.svg') 0 0 no-repeat;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

         @include respond(tab-phone) {
          width: 3rem;
          height: 4rem;
        }
        @include respond(phone) {
          width: 6rem;
          height: 7rem;
        }
      }
    }
  }

  
}